<nav class="d-flex fixed-top   justify-content-between align-items-center p-2">
    
    <div class="d-flex mx-2">
        <h3 class="mb-0"><a href="#">noxe</a></h3>
        <ul class="list-unstyled ms-4 mb-0 align-items-center d-flex justify-content-around ">
            <li class="mx-2">
                <a  routerLink="/home">Home</a>
            </li>
            <li class="mx-2">
                <a  routerLink="/about">about</a>
            </li>
            <li class="mx-2">
                <a  routerLink="/gallery">gallery</a>
            </li>
            <li>
                <a  routerLink="/movies">movies</a>
            </li>
            <li class="mx-2">
                <a  routerLink="/tv">Tv</a>
            </li>
            <li class="mx-2">
                <a  routerLink="/contacts">Contacts</a>
            </li>
        </ul>
    </div>

    <div class="d-flex mx-2">
        <div class="socialmedia">
            <a href="www.facebook.com" target="_blank"><i class="fab mx-2 fa-facebook"></i></a>
            <a href="www.instagram.com" target="_blank"> <i class="fab mx-2 fa-instagram"></i></a>
            <a href="www.youtube.com" target="_blank"> <i class="fab mx-2  fa-youtube"></i></a>
            <a href="www.spotify.com" target="_blank"> <i class="fab mx-2  fa-spotify"></i></a>
            <a href="www.xbox.com" target="_blank"> <i class="fab mx-2  fa-xbox"></i></a>
        </div>
        <ul class="list-unstyled mb-0  d-flex  ">
            <li class="mx-2">
                <a  routerLink="/register">Register</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link p-0 dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Settings
                </a>
                <ul class="dropdown-menu bg-dark">
                  <li><a class="dropdown-item" href="/login">Login</a></li>
                  <li><a class="dropdown-item" href="/logout">Logout</a></li>
                  
                </ul>
              </li>
 

        </ul>
    </div>
    
</nav>      
