<h2>Login</h2>

<form (ngSubmit)="submitLogin(loginForm)" [formGroup]="loginForm">
    <div *ngIf="error" class="alert alert-danger">
    <h3>{{error}}</h3>
    </div>

<label for="email">email</label>
<input type="email" formControlName="email" class="form-control" id="email">
<div *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched"
    class="alert alert-danger my-3">
    <p *ngIf="loginForm.get('email')?.errors?.['required']" class="mb-0">email is required!</p>
    <p *ngIf="loginForm.get('email')?.errors?.['email']" class="mb-0">email is invalid </p>
</div>
<label for="password">password</label>
<input type="password" formControlName="password" class="form-control" id="password">
<div *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched" class="alert alert-danger my-3">
    <p *ngIf="loginForm.get('password')?.errors?.['required']" class="mb-0">password is required!</p>
    <p *ngIf="loginForm.get('password')?.errors?.['pattern']" class="mb-0">password is invalid </p>
</div>
<button [disabled]="loginForm.invalid"  class="btn btn-info my-2" type="submit">Login</button>
</form>

